@{
    ViewBag.Title = "Welcome!";
}

<div class="jumbotron">
    <h1>Home</h1>
    <p class="lead"></p>
    </div>

<div class="row">
    <div>
        <h2>The Iron Yard BackEnd Engineering</h2>
        <p>
            Lorem crossbody crossface dolor sit amet, consectetur Canadian figure-four elit. Nullam
            dignissim nulla dui, et springboard head lock mauris five-star suplex a. Class aptent
            taciti sociosqu ad moss-covered snapmare torquent per conubia nostra, per Russian STF
            himenaeos. In eget Northern light tilt-a-whirl atomic abdominal stretch.Sed tempor enim
            pumphandle piledriver eget interdum mi crossbody STO vitae. Maecenas imperdiet dui in ante
            frog splash cobra clutch ultrices. Nullam vitae gutwrench claw ullamcorper, Northern light
            sharpshooter neque et, pellentesque lorem. Aenean varius gutwrench bulldog eros, ac tincidunt
            pumphandle elbow drop laoreet in.
        </p>
     </div>
</div>