@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Class</h1>
    <p class="lead"></p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>SAVAGE</h2>
        <p>
            Lorem crossbody crossface dolor sit amet, consectetur Canadian figure-four elit. Nullam
            dignissim nulla dui, et springboard head lock mauris five-star suplex a. Class aptent
            taciti sociosqu ad moss-covered snapmare torquent per conubia nostra, per Russian STF
            himenaeos. In eget Northern light tilt-a-whirl atomic abdominal stretch.Sed tempor enim
            pumphandle piledriver eget interdum mi crossbody STO vitae. Maecenas imperdiet dui in ante
            frog splash cobra clutch ultrices. Nullam vitae gutwrench claw ullamcorper, Northern light
            sharpshooter neque et, pellentesque lorem. Aenean varius gutwrench bulldog eros, ac tincidunt
            pumphandle elbow drop laoreet in.
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>*@
    </div>
</div>